
<div class="map-container">
  <div class="flex-video" id="map"></div>
</div>


<div class="text-center">
    <input type="submit" class="large button radius" id="play_button" value="Play!">
</div>

<div class="establishment_name"></div>
