<div class="map-container">
  <div class="flex-video" id="map"></div>
</div>


<div class="text-center">
  <a href="#" id="showbutton" class="button large success">Play!</a>
</div>

<div class="establishment_name"></div>
