<div class="map-container">
  <div class="flex-video" id="map"></div>
</div>


<div class="text-center">
  <a role="button" class="button radius" id="showbutton"><h3>Play!</h3></a>
</div>


<div class="establishment_name"></div>

<a href="http://www.google.com">Google</a>
