<h2>Your Restaurants</h2>


<div class="form_style">
  <h5><%= link_to "Add Eatery!", new_restaurant_path %></h5>

  <ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>
</div>
