<h2>Your Restaurants</h2>


<div class="form_style_dark">
  <u><%= link_to "Add New Eatery!", new_restaurant_path %></u>

  <ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>
</div>
