/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   background-image: image-url("lumber_boards.jpeg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Bangers', cursive;
 };

 li {
   list-style-type: none;
 }

 h3 {
   font-family: 'Bangers', cursive;
 }

 h2 {
   font-family: 'Bangers', cursive;
   text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
 }

 h5 {
   font-family: 'Bangers', cursive;
 }

 a {
   color: white;
 }

 u {
   font-size: 1.1em;
 }

.form_style {
  padding: 5px;
  background-color: rgba(150, 150, 150, 0.5);
  border: 1px solid white;
}

.form_style_dark {
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.5);
  border: 1px solid white;
}


.form_style_light {
  padding: 5px;
  background-color: rgba(225, 225, 225, 0.6);
  border: 1px solid white;

  u {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}


 #map-container{
width: 650px;
height: 400px;
}

#map{
border: 3px solid white;
width: 650px;
height: 400px;
max-width:100%;
background-color: rgba(0, 0, 0, 0.5);
}

.debug_blue {
  background-color: blue;
}

#play_button {
  padding: 10px 40px 8px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  color: white;
}

.gm-style-iw {
  font-family: 'Bangers', cursive;
}

.top-bar {
  margin-bottom: 2em;
  // background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid white;
  h3 {
    padding-left: 3px;
  }
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flash_notice {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
