/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   background-image: image-url("lumber_boards.jpeg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Bangers', cursive;
 };

 li {
   list-style-type: none;
 }

 h3 {
   font-family: 'Bangers', cursive;
 }

 #map-container{
width: 650px;
height: 400px;
}

#map{
border: 3px solid white;
width: 650px;
height: 400px;
max-width:100%;
background-color: rgba(0, 0, 0, 0.5);
}

.debug_blue {
  background-color: blue;
}

#showbutton {
  padding: 10px 40px 8px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.top-bar {
  margin-bottom: 2em;
  // background-color: rgba(3, 51, 99, 0.75);
}
